OPENROUTER_API_KEY=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
REDIRECT_URL=https://tons-diameter-charity-leasing.trycloudflare.com/
SHOPIFY_API_KEY=38a206edf49e32426fc9f2d464ac9fe7
SCOPES=read_products,write_products,read_customers,write_customers,read_orders,write_orders,read_content,write_content,read_inventory,write_inventory,read_locations,write_locations,read_script_tags,write_script_tags,read_price_rules,write_price_rules,read_discounts,write_discounts,read_fulfillments,write_fulfillments,read_shipping,write_shipping,read_assigned_fulfillment_orders,write_assigned_fulfillment_orders,read_checkouts,write_checkouts,read_themes,write_themes,read_analytics,read_translations,write_translations,read_locales,write_locales,read_files,write_files,read_marketing_events,write_marketing_events,read_resource_feedbacks,write_resource_feedbacks,read_shopify_payments_payouts,read_merchant_managed_fulfillment_orders,write_merchant_managed_fulfillment_orders,read_third_party_fulfillment_orders,write_third_party_fulfillment_orders,read_returns,write_returns
STORE_FRONT_API_ACCESS_SCOPE=unauthenticated_read_product_listings,unauthenticated_read_checkouts,unauthenticated_write_checkouts,unauthenticated_read_customer_tags,unauthenticated_read_customers,unauthenticated_write_customers,unauthenticated_read_cart,unauthenticated_write_cart
SHOPIFY_APP_URL=https://tons-diameter-charity-leasing.trycloudflare.com/
DATABASE_URL=postgresql://neondb_owner:npg_v0OJLjFfMp3A@ep-damp-sound-a18ag719-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require